* {
    font-family: Roboto;
}

body, html {
    margin: 0px;
    padding: 0px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: #1F2937;
    padding: 4px;
}

.header-text {
    font-size: 24px;
    font-weight: bold;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: white;
}

p {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 300;
}

img {
    width: 450px;
    height: auto;
}

.signbutton {
    width: 110px;
    padding: 5px;
    color: white;
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    background-color: #1F2937;
}

.content-text { 
    flex-direction: column;
    flex: 1;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
}

.info {
    margin: 28px;
    align-items: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
}

.square {
    width: 180px;
    height: 180px;
    border: 5px solid #3882F6;
    margin: 10px;
    border-radius: 6%;
    display: flex;
}

.squares {
    display: flex;
    justify-content: space-between;
}

.text {
    max-width: 200px;
}

.subtexts {
    margin: auto;
    padding: 2px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    text-align: center;
}

.information {
    margin: 150px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 35px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 240px;
}

.dquote {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

.author {
    margin-top: 80px;
    margin-left: 80px;
    font-weight: 600;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #3882F6;
    color: white;
    font-size: 24px;
    font-weight: 900;
    border-radius: 10px;
    margin: 110px;
    height: 100px;
}

.signbuttontwo {
    font-weight: bold;
    width: 120px;
    height: auto;
    padding: 5px;
    color: white;
    background-color: transparent;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    box-shadow: none;
    margin-left: 80px;
}

.subtext {
    font-size: 16px;
    color: #E5E7EB;
}

.squares img {
    width: 180px;
    height: 180px;
}